* {
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
  font-family: Roboto, sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

section.quote {
  background-color: #e5e7eb;
}

header {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}

h1{
  font-size: 48px;
  font-weight: 900;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

nav h3{
  margin: 5px 200px;
}

.navigation{
  width: auto;
  gap: 10px;
  margin: 5px 250px;
}

.container {
  display: flex;
  justify-content: center;
}

.hero-banner{
  display: flex;
  justify-content: space-around;
  margin: 50px 100px 50px 100px;

}

.hero-banner img{
  margin-top: 20px;
  margin-right: 150px;
  height: 200px;
}

.header-text{
margin: 20px 50px 20px 100px;
height: 200px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;

}

.header-text p{
  font-size: 18px;
  color: #e5e7eb
}

.header-button{
  background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 30px;
    border-radius: 5px;
}

.featured{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo img{
  height: 200px;
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.photo p {
  width: 200px;
  font-size: 18px;
  text-align: center;
  color: #1f2937;
}

.photo-row{
  display:flex;
  justify-content: center;
}

.photo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 40px;
}

.featured h2{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}